.Rodo{
    background-color: rgb(77, 77, 77);
}

.RodoInside{
    background-color: rgb(124, 124, 124);
    padding:15px;
    border:1px solid rgb(104, 104, 104);
    box-shadow: -1px 5px 15px black;
    margin-top:15%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15%;
    width:50%;
    font-size: medium;
}